<div class="login-register-page">
<div class="form-container">
    <h1>Sign In</h1>

    <p>
      No account yet? <%= link_to "Sign up!", signup_path %>
    </p>

    <%= form_with(url: session_path, local: true) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, required: true %>

        <%= f.submit "Sign In" %>
    <% end %>
  </div>

</div>