<% if false %>
<div class="navbar navbar-expand-lg navbar-light bg-light px-2 d-flex align-items-center">
    
    <div class="d-flex justify-content-between align-items-center w-100 flex-lg-row" >
        <%= link_to "herSTYLE", root_path, class: "navbar-brand" %>
    
        <div class="flex-2 d-flex justify-content-center align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item active px-lg-2">
                    <%= link_to "Privacy Policy", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-2">
                    <%= link_to "Terms & Conditions", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-2">
                    <p class="mb-0 nav-link">Copyright 2020. All right reserved.</p>
                </li>
                
            </ul>
        </div>

        <div class="d-flex justify-content-end align-items-center flex-0">
            <p class="mb-0">Contact with us: </p>
            <div class="ml-3">
                <%= my_icon("twitter", class: "social-icons") %>
                <%= my_icon("instagram", class: "social-icons") %>
                <%= my_icon("facebook", class: "social-icons") %>
            </div>
        </div>
       
        
    </div>


</div>
<% end %>

<footer class="d-flex justify-content-between px-3 align-items-center py-2 footer">
    <div class="logo flex-1 w-25">
        <%= link_to "herSTYLE", root_path, class: "navbar-brand" %>
    </div>
    <div class="category-links flex-2 w-50">
        <ul class="w-100 d-flex align-items-center justify-content-center mb-0">
            <li class="">
                    <%= link_to "Privacy Policy", root_path %>
                </li>
                <li class="pl-2">
                    <%= link_to "Terms & Conditions", root_path %>
                </li>
                <li class="pl-3">
                    <p class="mb-0 copyright-text">Copyright 2020. All right reserved.</p>
                </li>
                
        </ul>
    </div>
    <div class="nav-right-links flex-1 w-25 d-flex justify-content-end align-items-center ">
        <p class="mb-0 contact-text">Connect with us: </p>
            <div class="ml-3">
                <%= my_icon("twitter-2", class: "social-icons mr-2") %>
                <%= my_icon("instagram-2", class: "social-icons mr-2") %>
                <%= my_icon("facebook-2", class: "social-icons") %>
            </div>
    </div>
</footer>
