<nav class="d-flex justify-content-between px-3 align-items-center py-3 header">
    <div class="logo">
        <%= link_to "herSTYLE", root_path, class: "navbar-brand" %>
    </div>
    <div class="category-links">
        <ul class="w-100 d-flex align-items-center justify-content-center mb-0">
            <li class="py-1">
                <%= nav_link_to "Home", root_path %>
            </li>
            <% all_routes.each do |route| %>
            <li class="pl-3 py-1">
                <%= route %>
            </li>
            <% end %>
                          
        </ul>
    </div>
    <div class="nav-right-links">
        <ul class="d-flex align-items-center mb-0 justify-content-end">
            <% if current_user %>
                <li class="py-1 mr-2">
                    <%= link_to current_user.name, current_user %>
                </li>
                <li class="py-1 mx-3">
                     <%= nav_link_to "Write an Article", new_article_path %>
                </li>
                <li class="py-1">
                     <%= link_to "Sign Out", session_path, method: :delete %>
                </li>
                       

                
                
            <% else %>
                <li class="py-1 mr-3">
                     <%= link_to "Write an Article", new_article_path %>
                </li>
                <li class="py-1"><%= nav_link_to "Login |", signin_path %></li>
                <li class=" pl-1 py-1"><%= nav_link_to "Register", signup_path %></li>
            <% end %>
            </ul>
    </div>
</nav>

