<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
    
    <div class="d-flex justify-content-between align-items-center w-100 flex-lg-row" >
        <%= link_to "herSTYLE", root_path, class: "navbar-brand" %>
    
        <div class="flex-2 d-flex justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item active px-lg-3 mx-lg-3">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-3 mx-lg-3">
                    <%= link_to "Fashion", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-3 mx-lg-3">
                    <%= link_to "Cosmetics", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-3 mx-lg-3">
                    <%= link_to "Worklife", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active px-lg-3 mx-lg-3">
                    <%= link_to "Business", root_path, class: "nav-link" %>
                </li>
            </ul>
        </div>

        <div class="d-flex justify-content-end flex-0">
            <ul class="navbar-nav">
            <% if current_user %>
                <li><%= link_to current_user.name, current_user, class: "nav-link" %></li>
                <li><%= link_to "Sign Out", session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
                <li><%= link_to "Sign In", signin_path, class: "nav-link" %></li>
                <li><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
            <% end %>
            </ul>
        </div>
       
        
    </div>


</nav>

<% if false %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">herSTYLE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
       <%= link_to "Fashion", "", class: "nav-link" %>
      </li>
      <li class="nav-item">
       <%= link_to "Cosmetics", "", class: "nav-link" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<% end %>